@font-face{ 
    font-family: "Montserrat", sans-serif;  
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf"); 
} 
body { 
    font-family: "Montserrat", sans-serif; 
}

/*Personalizacion logo*/

.logo{
    width: 100%;
}

/*Tamaño del contenedor del logo en el Header*/

.h-logo-widht{
    width: 10%;
}

/*Personalizacion del navegador*/

.ulflex{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 1px 4px 9px rgba(98,66,13,0.6);
    justify-content: space-evenly;
}

/*Conf. del hover en Nav sacadas de IanHubb y personalizada*/

.linkhover{
    display: inline-block;
  vertical-align: middle;
  border-spacing: 0;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.linkhover:before{
    content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #442003ec;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.linkhover:hover:before{
    left: 0;
  right: 0;
}

/*Config. personalizadas para el carousel de Inicio*/

.imgcarousel{
    object-fit: cover;
}

/*Config. personalizadas para el parrafo*/

.parrafo{
    font-size: 1rem;
    color:rgb(32, 29, 19);
    line-height: 1.6;
}

.navfoo{
    width: fit-content;

}

/*Config. iconos footer*/

.logofoo{
    align-items: center;
    display: flex;
}

.redlogo{
    width: 50%;;
}
/*color de elementos*/

.headercolor{
    background-color: rgba(250, 221, 142, 0.541);
}

.titulos{
    color: rgb(48, 26, 7);
}


.color{
    background-color: aqua;
}

