/*color base del main en todas las paginas*/

$color_fondo: linear-gradient(0deg, rgba(251,243,216,1) 0%, rgba(213,175,35,0.8799894957983193) 44%, rgba(255,255,255,1) 100%);
$color_header: rgba(255, 255, 255, 0.61);
$color_hoverinicio:#442003ec;
$color_titulos: #271c05;
$color_textos: #312507;
$color_texshadows: 8px 4px 8px rgba(103,93,78,0.76);
$color_sombras: 41px 25px 43px -4px rgba(102,76,55,0.75);
$color_cardnos: #fbf3d84d;
$color_cardgalb:rgb(226, 202, 123);
$color_separadorR: linear-gradient(to right, #18130d, #322a1d, #4d422c, #685d3c, #837a4d, #928b5b, #a19c6a, #b0ad79, #b8b487, #c0bc95, #c8c3a4, #cfcbb2);
$color_separadorL: linear-gradient(to left, #18130d, #322a1d, #4d422c, #685d3c, #837a4d, #928b5b, #a19c6a, #b0ad79, #b8b487, #c0bc95, #c8c3a4, #cfcbb2);
$color_tabla: rgba(213,175,35,0.8799894957983193) 44%;
$color_borde: #685d3c;
$color_bordecard:#8c691a;
$color_cardgal:radial-gradient(circle, #e7d581, #ddcb7b, #d4c276, #cab870, #c1af6b, #baa663, #b29d5a, #ab9452, #a38944, #9b7e37, #947429, #8c691a);
$color_botonaceptar: rgba(146, 95, 52, 0.705);
$color_botoncancelar: yellow;
$color_footer:#fbf3d8;