/*color base del main en todas las paginas*/

$color_fondos: linear-gradient(to bottom, #e7d581, #ddcb7b, #d4c276, #cab870, #c1af6b, #baa663, #b29d5a, #ab9452, #a38944, #9b7e37, #947429, #8c691a);
$color_header:rgba(250, 221, 142, 0.541);
$color_hoverinicio:#442003ec;
$color_textos: #312507;
$color_sombras: rgb(83, 51, 29);
$color_cardnos: rgba(236, 201, 147, 0.308);
$color_bordecard:#8c691a;
$color_cardgal:radial-gradient(circle, #e7d581, #ddcb7b, #d4c276, #cab870, #c1af6b, #baa663, #b29d5a, #ab9452, #a38944, #9b7e37, #947429, #8c691a);
$color_separador: linear-gradient(to right, #18130d, #322a1d, #4d422c, #685d3c, #837a4d, #928b5b, #a19c6a, #b0ad79, #b8b487, #c0bc95, #c8c3a4, #cfcbb2);
$color_tabla: #b29d5a;
$color_borde: #685d3c;
$color_boton: rgba(250, 221, 142, 0.541);




