.hfcolor{
    background-color: $color_footer;
        footer{
            div{
                .logofoo{
                    width: 100px;
                    height: 100px;
                }
            }       
        }
}