.main{
    .main{
        .row{
            .col-xl-4{
                .cardcolornos{
                    background-color: $color_cardnos;
                }
                .imgcard{
                    width: 70%;
                    margin: 0 auto;
                }
            }
        }
    }
}