@import "colores";
@import "maps";
@import "mixines";
@import "header";
@import "mainInicio";
@import "mainNosotros";
@import "mainServicios";
@import "mainGaleria";
@import "footer";

@font-face{ 
    font-family: "Montserrat", sans-serif;  
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf"); 
}

/*Mq para main de Inicio*/

@media  screen and (max-width: 1200px) {
  main{
    .main{
        .carouselw{
            width: map-get($width,w-70);
        }
    }
}
}
  
/*Mq para cards de Galeria*/

@media screen and (max-width: 767px) {
    
    .flip-card-inner {
        width: map-get($width,w-50) !important;
        height: 550px !important;
}
}

/*Mq para main de Inicio*/

@media  screen and (max-width:600px) {
  main{
    .main{
        .carouselw{
            width: map-get($width,w-90);
        }
    }
}
}

/*Mq para cards de Galeria*/

@media screen and (max-width: 500px) {
    
    .flip-card-inner {
        width: map-get($width,w-80) !important;
        height: 500px !important;
}
}

body { 
    font-family: "Montserrat", sans-serif; 
}

/*Personalizacion logo, necesaria para que se adapte siempre al contenedor sin necesidad de poner ancho fijo*/

.logo{
    width: map-get($width,w-100);
    margin-left: 1rem;
}

/*Config. personalizadas para parrafos*/

.parrafo{
    font-size: 1rem;
    color:rgb(32, 29, 19);
    line-height: 1.6;
}

/*Config. buttons en Contacto*/

.boton{
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    box-shadow: $color_sombras 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

.botonaceptar{
    @extend .boton;
    background-color: $color_botonaceptar;
}

.botoncancelar{
    @extend .boton;
    background-color: $color_botoncancelar;
}

.cardadopta{
    @include border-background-shadow (30px,$color_fondo);
    width: 25%;
  }

  .imgadopta{
    max-width: 95%;
    max-height: 100%;
    object-fit: cover;
    padding: 2rem;
    margin: 0 auto;
  }
