@import "colores";
@import "header";
@import "mainInicio";
@import "mainNosotros";
@import "mainServicios";
@import "mainGaleria";
@import "footer";

@font-face{ 
    font-family: "Montserrat", sans-serif;  
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf"); 
}

/*Mq para main de Inicio*/

@media  screen and (max-width: 1200px) {
  main{
    .main{
        .carouselw{
            width: 70%;
        }
    }
}
}
  

@media screen and (max-width: 767px) {
    
    .flip-card-inner {
        width: 50% !important;
        height: 550px !important;
}
}

/*Mq para main de Inicio*/

@media  screen and (max-width:600px) {
  main{
    .main{
        .carouselw{
            width: 90%;
        }
    }
}
}

@media screen and (max-width: 500px) {
    
    .flip-card-inner {
        width: 80% !important;
        height: 500px !important;
}
}

body { 
    font-family: "Montserrat", sans-serif; 
}

/*Personalizacion logo, necesaria para que se adapte siempre al contenedor sin necesidad de poner ancho fijo*/

.logo{
    width: 100%;
    margin-left: 1rem;
}

/*Tamaño del contenedor del logo en el Header*/

.h-logo-widht{
    width: 6%;
}

/*Config. personalizadas para parrafos*/

.parrafo{
    font-size: 1rem;
    color:rgb(32, 29, 19);
    line-height: 1.6;
}

/*Config. buttons en Contacto*/

.boton{
    background-color: rgba(146, 95, 52, 0.705);
}

/*Config. ancho de logos en el footer*/

.textfooter{
    width: fit-content;
    margin: 0 auto;
}


